.app-container {
  flex: 1;
  height: 100svh;
  flex-direction: column;
  overflow: auto;
  background-image: url('../../public/bg2.jpg');
  background-color: var(--secondary-color);
  background-size:cover;
}