.chat-container {
  background-image: url('../../public/bg2.jpg');
  background-color: var(--secondary-color);
  background-size:cover;
  flex: 1;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.messages-container {
  display: flex;
  width: 100%;
  max-width: 70%;
  max-height: 95vh;
  flex-direction: column;
  overflow: scroll;
}

.message-container {
  margin-top: 36px;
  align-items: flex-start;
  padding-right: 10px;  
  display: flex;
  flex-direction: row;
}

.message-container:last-child {
  margin-bottom: 24px;
}

.message-sender {
  background-color: var(--darker-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  min-width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.message-sender-ai {
  
  /* background-color: var(--dark-color); */
}

.message {
  background-color: var(--success-color);
  color: var(--light-color);
  border-radius: 5px;
  padding: 0px 18px;
  margin-left: 18px;
  font-weight: 500;
}

.message-ai {
  background-color: var(--darker-color);
}

.send-message-form {
  display: flex;
  min-height: 50px;
  width: 100%;
  background-color: var(--darker-color);
  border-radius: 5px;
  overflow: hidden;
}

.send-message-form-loading {
  padding: 1rem;
  align-items: center;
  color: var(--light-color);
}

.send-message-form input[type="text"] {
  flex: 1;
  height: 100%;
  background-color: transparent;
  color: var(--light-color);
  padding: 1rem;
  font-weight: 500;
  font-size: inherit;
}

.send-message-form input[type="text"]::placeholder {
  color: var(--light-color);
  font-weight: 100;
}

.send-message-form:focus-within {
  outline: 1px solid var(--light-color);
}

.send-message-form button[type="submit"] {
  background-color: transparent;
  border: none;
  font-size: x-large;
  border-radius: 5px;
  margin-left: 10px;
  color: var(--tertiary-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-options {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  padding-bottom: 0;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-left: 16px;
  border-radius: 5px;
  width: auto;
}

.copy-button {
  color: var(--dark-color);
  align-self: baseline;
  font-size: inherit;
}
