.chat-container {
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
}

.messages-container {
  width: 100%;
  margin-bottom: 88px;
  max-width: 766px;
  flex-direction: column;
  overflow: scroll;
}

.message-container {
  margin-top: 36px;
  align-items: flex-start;
  flex-direction: row;
}

.message-container:last-child {
  margin-bottom: 24px;
}

.message-sender {
  background-color: var(--quaternary-color);
  min-width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 2px;
}

.message-sender-ai {
  background-color: var(--success-color);
}

.message {
  flex-direction: column;
  background-color: var(--darker-color);
  color: var(--light-color);
  border-radius: 5px;
  padding: 0px 18px;
  margin-left: 1.5rem;
  font-weight: 500;
}

.message-ai {
  background-color: var(--darker-color);
}

.chat-ui-footer {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgb(40, 40, 40) 58.85%
  );
  padding: 1rem;
  width: 100%;
  height: fit-content;
}

.send-message-form {
  height: 56px;
  width: 100%;
  max-width: 766px;
  background-color: var(--darker-color);
  border-radius: 5px;
  overflow: hidden;
  outline: 1px solid var(--tertiary-color);
}

.send-message-form-loading {
  padding: 1rem;
  align-items: center;
  color: var(--light-color);
}

.send-message-form input[type="text"] {
  flex: 1;
  height: 100%;
  background-color: transparent;
  color: var(--light-color);
  padding: 16px 48px 16px 16px;
  font-size: inherit;
}

.send-message-form input[type="text"]::placeholder {
  color: var(--quaternary-color);
}

.send-message-form:focus-within {
  outline: 1px solid var(--light-color);
}

.send-message-form button[type="submit"] {
  background-color: transparent;
  border: none;
  font-size: x-large; 
  display: flex;
  padding-right: 16px;
  color: var(--quaternary-color);
  cursor: pointer;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.message-options {
  margin-left: 16px;
}

.copy-button {
  color: var(--quaternary-color);
  font-size: large;
}

@media screen and (max-width: 460px) {
  .message {
    margin-left: 0.6rem;
  }

  .message-sender {
    min-width: 28px;
    height: 28px;
  }

  .message-options {
    margin-left: 8px;
  }

  .chat-container {
    padding: 1rem;
    padding-top: 64px;
  }
}

