.message-sender {
  padding: 2px;
  font-size: large;
  background-color: var(--info-color);
  min-width: 36px;
  height: 36px;
  line-height: 0;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
}

.message-sender-ai {
  background-color: var(--success-color);
}