.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 60px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  );
  backdrop-filter: blur(10px);
}

.header__left {
  align-items: center;
}

.header__logo {
  font-size: 1.1rem;
  font-weight: light;
  align-items: center;
}

.header__logo .title {
  margin-left: 0.5rem;
}

.header__right {
  color: var(--tertiary-color);
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-size: small;
}

@media screen and (max-width: 400px) {
  .header__right {
    font-size: smaller;
  }
  .header__logo {
    font-size: 1rem;
  }
}
