.homeContainer {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--darker-color);
  background-image: radial-gradient(#1b1e52 0.5px, var(--darker-color) 0.5px);
  background-size: 10px 10px;
}

.homeCardHolder {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homeIntroImage {
  width: 100%;
  max-width: 200px;
}

.homeCard {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 766px;
  max-width: 766px;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.homeCardButtons {
  width: 320px;
  max-width: 320px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.homeCardButton {
  background-color: var(--success-color);
  color: var(--darker-color);
  font-weight: 800;
  font-size: large;
  padding: 10px;
  width: 100%;
}

.home-banner-subtitle {
  color: var(--quaternary-color);
}

.home-banner {
  margin-bottom: 1rem;
}

.get-started {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.home-banner-text {
  margin-right: 1rem;
}
