.sidebar-container {
  background-color: var(--darker-color);
  padding: 1rem;
  width: 240px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--light-color);
}

.sidebar-subtitle {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--light-color);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}