@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Raleway+Condensed:wght@400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div,
form,
input {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: 'Raleway Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darker-color);
  color: var(--light-color);
}

a {
  text-decoration: none;
  color: var(--info-color);
}

html::-webkit-scrollbar {
  width: 3px !important;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: var(--light-color);
  box-shadow: none;
}

.button-transparent {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: var(--light-color);
  cursor: pointer;
  font-size: inherit;
}

* {
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  box-sizing: border-box;
  line-height: 1.75;
  letter-spacing: 0.02em;
}

:root {
  --darker-color: #1e1e1e;
  --dark-color: #252525;
  --secondary-color: #595959;
  --tertiary-color: #787878;
  --quaternary-color: #bebebe;
  --light-color: #cccccc;
  --success-color: rgb(23, 130, 93);
  --info-color: rgb(0,122,204);
}

@media screen and (max-width: 460px) {
  * {
    line-height: 1.5;
  }
}
  
