@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color:  var(--light-color);
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #474f57;
  --tertiary-color: #7e8c9a;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --darker-color: #1d2023;
}