@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darker-color);
  color: var(--light-color);
}

a {
  text-decoration: none;
  color: var(--info-color);
}

html::-webkit-scrollbar {
  width: 3px !important;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: var(--light-color);
  box-shadow: none;
}

.button-transparent {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: var(--light-color);
  cursor: pointer;
  font-size: inherit;
}

* {
  -webkit-transition: all ease-in .1s;
  -moz-transition: all ease-in .1s;
  transition: all ease-in .1s;
  box-sizing: border-box;
  line-height: 1.75;
}

:root {
  --primary-color: #ffa500;
  --secondary-color: #666666;
  --tertiary-color: #999999;
  --success-color: #02ab3a;
  --danger-color: #e62e2e;
  --warning-color: #ffcc00;
  --info-color: #3399ff;
  --light-color: #f2f2f2;
  --dark-color: #333333;
  --darker-color: #222222;
}
